#container0 {
  display: flex;
  justify-content: space-between;
}

#container1 {
  max-width: 251px;
  max-height: 882px;
  background-color: #ffffff;
  border-right: solid 1px #f6f6f6;
  padding: 10px;
}

.body__dashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 40px;
}

.body__dashboard1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 40px;
}

.body__space {
  padding-top: 70px;
  padding-bottom: 30px;
}

.body__used {
  font: 16px "DM Sans";
  font-weight: bold;
  color: #25396f;
}

.body__free {
  font: 13px "DM Sans";
  color: #25396f;
}

.body__stroka {
  height: 8px;
  width: 191px;
}

.body__button {
  background: #51459e;
  border-radius: 13px;
  color: #ffffff;
  font-family: "Sofia Pro";
  width: 191px;
  height: 46px;
  border: #51459e;
  box-shadow: 0px 10px 0px 0.5px #51459e48;
}

.body__button1 {
  padding-top: 40px;
}

.body__button:hover {
  background: #ffffff;
  border-radius: 13px;
  color: #51459e;
  font-family: "Sofia Pro";
  width: 191px;
  height: 46px;
  border: solid #51459e 3px;
  box-shadow: none;
}

#container3 {
  width: 400px;
  padding-right: 5px;
  background: #FAFBFD;
}

.body__usage {
  font: 20px "DM Sans";
  font-weight: bold;
  color: #25396f;
  margin: 30px;
}

.body__graph{
  margin-top: 30px;
}

.body__shared{
  font: 18px "Sofia Pro";
  font-weight: bold;
  color: #505887;
  margin: 30px;
  margin-bottom: 0px;
}

.body__share {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background-color: #DEE1E6;
  position: relative;
}

.body__share1 {
  position:absolute;
  left: 25%;
  top: 25%;
}

.body__shared1{
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 15px;
}

.body__shared2 {
  font: 13px "Sofia Pro";
  color: #505887;
  margin-left: 10px;

}

.body__shared3 {
  font: 10px "Sofia Pro";
  color: #718EBF;
  margin-left: 10px;
}

.body__shared4{
  display: flex;
  justify-content: flex-start;
}

.body__shared5 {
  font: 10px "Sofia Pro";
  color: #718EBF;
  margin-right: 15px;
}

.body__invite {
  margin-top: -200px;
  margin-left: -100px;
}

.body__inviteback {
  margin: 30px;
  margin-top: 60px;
}

.body__papki{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.body__papki1 {
  position: relative;
  left: 20px;
  top: 20px;
}

.body__design {
  width: 193px;
  height: 154px;
  background-color: #F6F5FF;
  border-radius: 10px;
  box-shadow: 0px 100px 80px rgba(158, 160, 249, 0.07), 0px 64.8148px 46.8519px rgba(158, 160, 249, 0.0531481), 0px 38.5185px 25.4815px rgba(158, 160, 249, 0.0425185), 0px 20px 13px rgba(158, 160, 249, 0.035), 0px 8.14815px 6.51852px rgba(158, 160, 249, 0.0274815), 0px 1.85185px 3.14815px rgba(158, 160, 249, 0.0168519);;
  margin: 20px 10px 30px 15px;
}

.body__documents {
  width: 193px;
  height: 154px;
  background-color: #F5FFFC;
  border-radius: 10px;
  box-shadow: 0px 100px 80px rgba(103, 207, 236, 0.07), 0px 64.8148px 46.8519px rgba(103, 207, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(103, 207, 236, 0.0425185), 0px 20px 13px rgba(103, 207, 236, 0.035), 0px 8.14815px 6.51852px rgba(103, 207, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(103, 207, 236, 0.0168519);
  margin: 20px 10px 30px 15px;
}

.body__music {
  width: 193px;
  height: 154px;
  background-color: #FFF9F0;
  border-radius: 10px;
  box-shadow: 0px 100px 80px rgba(253, 131, 66, 0.04), 0px 64.8148px 46.8519px rgba(253, 131, 66, 0.0303704), 0px 38.5185px 25.4815px rgba(253, 131, 66, 0.0242963), 0px 20px 13px rgba(253, 131, 66, 0.02), 0px 8.14815px 6.51852px rgba(253, 131, 66, 0.0157037), 0px 1.85185px 3.14815px rgba(253, 131, 66, 0.00962963);
  margin: 20px 10px 30px 15px;
}

.body__images {
  width: 193px;
  height: 154px;
  background-color: #FFF5F5;
  border-radius: 10px;
  box-shadow: 0px 100px 80px rgba(255, 125, 125, 0.07), 0px 64.8148px 46.8519px rgba(255, 125, 125, 0.0531481), 0px 38.5185px 25.4815px rgba(255, 125, 125, 0.0425185), 0px 20px 13px rgba(255, 125, 125, 0.035), 0px 8.14815px 6.51852px rgba(255, 125, 125, 0.0274815), 0px 1.85185px 3.14815px rgba(255, 125, 125, 0.0168519);
  margin: 20px 10px 30px 15px;
}

.body__quick{
  font: 18px "Sofia Pro";
  font-weight: bold;
  color: #505887;
  margin: 15px;
}

.body__quick1 {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 30px 15px;
}

.body__container4 {
  display: flex;
  justify-content: space-between;
}