.container2__papki {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container2__papki1 {
  position: absolute;
  right: 20px;
  top: 25px;
}

.container2__design {
  width: 193px;
  height: 154px;
  background-color: #f6f5ff;
  border-radius: 10px;
  box-shadow: 0px 100px 80px rgba(158, 160, 249, 0.07),
    0px 64.8148px 46.8519px rgba(158, 160, 249, 0.0531481),
    0px 38.5185px 25.4815px rgba(158, 160, 249, 0.0425185),
    0px 20px 13px rgba(158, 160, 249, 0.035),
    0px 8.14815px 6.51852px rgba(158, 160, 249, 0.0274815),
    0px 1.85185px 3.14815px rgba(158, 160, 249, 0.0168519);
  margin: 20px 10px 30px 15px;
  position: relative;
}

.container2__design2 {
  display: flex;
  justify-content: space-between;
}

.container2__design5 {
  display: flex;
  justify-content: space-between;
}

.container2__design6 {
  position: absolute;
  top: 20px;
  left: 20px;
}

.container2__design7 {
  position: absolute;
  margin: 20px;
  margin-top: 85px;
  font: 18px "Sofia Pro";
  color: #505887;
}

.container2__design3 {
  font: 12px "Sofia Pro";
  color: #718ebf;
  margin: 20px;
  margin-top: 125px;
}

.container2__design4 {
  font: 12px "Sofia Pro";
  color: #718ebf;
  margin: 20px;
  margin-top: 125px;
}

.container2__documents {
  width: 193px;
  height: 154px;
  background-color: #f5fffc;
  border-radius: 10px;
  box-shadow: 0px 100px 80px rgba(103, 207, 236, 0.07),
    0px 64.8148px 46.8519px rgba(103, 207, 236, 0.0531481),
    0px 38.5185px 25.4815px rgba(103, 207, 236, 0.0425185),
    0px 20px 13px rgba(103, 207, 236, 0.035),
    0px 8.14815px 6.51852px rgba(103, 207, 236, 0.0274815),
    0px 1.85185px 3.14815px rgba(103, 207, 236, 0.0168519);
  margin: 20px 10px 30px 15px;
  position: relative;
}

.container2__music {
  width: 193px;
  height: 154px;
  background-color: #fff9f0;
  border-radius: 10px;
  box-shadow: 0px 100px 80px rgba(253, 131, 66, 0.04),
    0px 64.8148px 46.8519px rgba(253, 131, 66, 0.0303704),
    0px 38.5185px 25.4815px rgba(253, 131, 66, 0.0242963),
    0px 20px 13px rgba(253, 131, 66, 0.02),
    0px 8.14815px 6.51852px rgba(253, 131, 66, 0.0157037),
    0px 1.85185px 3.14815px rgba(253, 131, 66, 0.00962963);
  margin: 20px 10px 30px 15px;
  position: relative;
}

.container2__images {
  width: 193px;
  height: 154px;
  background-color: #fff5f5;
  border-radius: 10px;
  box-shadow: 0px 100px 80px rgba(255, 125, 125, 0.07),
    0px 64.8148px 46.8519px rgba(255, 125, 125, 0.0531481),
    0px 38.5185px 25.4815px rgba(255, 125, 125, 0.0425185),
    0px 20px 13px rgba(255, 125, 125, 0.035),
    0px 8.14815px 6.51852px rgba(255, 125, 125, 0.0274815),
    0px 1.85185px 3.14815px rgba(255, 125, 125, 0.0168519);
  margin: 20px 10px 30px 15px;
  position: relative;
}

.container2__quick {
  font: 18px "Sofia Pro";
  font-weight: bold;
  color: #505887;
  margin: 15px;
}

.container2__quick1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 15px 30px 15px;
}

.container2__downloads {
  display: flex;
  justify-content: space-between;
}

.container2__resently1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-left: 15px;
}

.container2__resently4 {
  font: 13px "Sofia Pro";
  color: #505887;
  margin-left: 20px;
}

.container2__resently5 {
  font: 10px "Sofia Pro";
  color: #718ebf;
  margin-left: 20px;
}

.container2__resently2 {
  display: flex;
  justify-content: flex-start;
}

.container2__resently6 {
  font: 10px "Sofia Pro";
  color: #718ebf;
  margin: 10px;
}

.container2__resently0 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.container2__file0 {
  width: 45%;
}

.container2__file1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
}

.container2__file2 {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 87px;
  border-radius: 9px;
  background-color: #ebedfb;
  margin: 15px;
}

.container2__file3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container2__file4 {
  margin-right: 10px;
}

.container2__file5 {
  background: #dee1e6;
  border-radius: 5px;
  border: none;
  width: 85%;
  height: 40px;
  color: #51459e;
  padding-top: 10px;
  font: 14px "Sofia Pro";
}

.container2__file5:hover {
  background: #51459e;
  border-radius: 5px;
  border: none;
  width: 85%;
  height: 40px;
  color: #dee1e6;
  padding-top: 10px;
  font: 14px "Sofia Pro";
}

.container2__file6 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.container2__file7 {
  font: 13px "Sofia Pro";
  margin: 6px 0px 3px 10px;
}

.container2__file8 {
  font: 9px "Poppins";
  color: #757575;
  margin: 3px 0px 10px 10px;
}

.container2__file9 {
  margin: 10px 0px 5px 10px;
}

.container2__quick2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  height: 56px;
  width: 206px;
  background-color: #f5f5f5;
  border-radius: 0px 0px 15px 15px;
  position: absolute;
  bottom: 0px;
}

.container2__quick3 {
  padding-left: 10px;
  font: 13px "DM Sans";
  font-weight: 700;
  color: #25396f;
}

.container2__quick4 {
  height: 173px;
  width: 226px;
  border-radius: 15px;
  background-image: url(/images/build0.png);
  position: relative;
}

.container2__quick5 {
  font: 12px "DM Sans";
  font-weight: 400;
  color: #718ebf;
}

.container2__quick7 {
  height: 173px;
  width: 226px;
  border-radius: 15px;
  background-image: url(/images/customers0.png);
  position: relative;
}

.container2__quick6 {
  height: 173px;
  width: 226px;
  border-radius: 15px;
  background-image: url(/images/product0.png);
  position: relative;
}
