#container3__body3 {
  width: 400px;
  padding-right: 5px;
  background: #FAFBFD;
}

.container3__usage {
  font: 20px "DM Sans";
  font-weight: bold;
  color: #25396f;
  margin: 30px;
}

.container3__graph{
  margin-top: 30px;
}

.container3__shared{
  font: 18px "Sofia Pro";
  font-weight: bold;
  color: #505887;
  margin: 30px;
  margin-bottom: 0px;
}

.container3__share {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background-color: #DEE1E6;
  position: relative;
}

.container3__share1 {
  position:absolute;
  left: 25%;
  top: 25%;
}

.container3__shared1{
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 15px;
}

.container3__shared2 {
  font: 13px "Sofia Pro";
  color: #505887;
  margin-left: 10px;

}

.container3__shared3 {
  font: 10px "Sofia Pro";
  color: #718EBF;
  margin-left: 10px;
}

.container3__shared4{
  display: flex;
  justify-content: flex-start;
}

.container3__shared5 {
  font: 10px "Sofia Pro";
  color: #718EBF;
  margin-right: 15px;
}

.container3__invite {
  margin-top: -200px;
  margin-left: -100px;
}

.container3__inviteback {
  margin: 30px;
  margin-top: 60px;
}

