#container3__body3 {
  width: 400px;
  padding-right: 5px;
  background: #fafbfd;
}

.container3__usage {
  font: 20px "DM Sans";
  font-weight: bold;
  color: #25396f;
  margin: 30px;
}

.container3__graph {
  margin-top: 30px;
}

.container3__shared {
  font: 18px "Sofia Pro";
  font-weight: bold;
  color: #505887;
  margin: 30px;
  margin-top: 60px;
  margin-bottom: 0px;
}

.container3__share {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background-color: #dee1e6;
  position: relative;
}

.container3__share1 {
  position: absolute;
  left: 25%;
  top: 25%;
}

.container3__shared1 {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 15px;
}

.container3__shared2 {
  font: 13px "Sofia Pro";
  color: #505887;
  margin-left: 10px;
}

.container3__shared3 {
  font: 10px "Sofia Pro";
  color: #718ebf;
  margin-left: 10px;
}

.container3__shared4 {
  display: flex;
  justify-content: flex-start;
}

.container3__shared5 {
  font: 10px "Sofia Pro";
  color: #718ebf;
  margin-right: 15px;
}

.container2__shared0 {
  display: flex;
  flex-direction: column;
}

.container3__invite {
  width: 334px;
  height: 126px;
  background: #51459e;
  border-radius: 10px;
  position: relative;
  top: -160px;
  left: -50px;
}

.container3__inviteback {
  width: 334px;
  height: 126px;
  background: #f6f4ff;
  border: 1px dashed #d0c9ff;
  border-radius: 10px;
}

.container3__invite1 {
  bottom: 10px;
  position: absolute;
  left: 20px;
  width: 107px;
  height: 34px;
  background: #84e8f4;
  border-radius: 5px;
  border: none;
  font: 14px "Sofia Pro";
  color: #51459e;
  align-items: center;
  padding-top: 5px;
}

.container3__invite0 {
  margin-top: 50px;
  margin-left: 50px;
}

.container3__invite1:hover {
  bottom: 10px;
  position: absolute;
  left: 20px;
  width: 107px;
  height: 34px;
  background: #51459e;
  border-radius: 5px;
  border: 2px #84e8f4 solid;
  font: 14px "Sofia Pro";
  color: #84e8f4;
  align-items: center;
  padding-top: 5px;
}
